.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

#playArea{
    background-color: black;
    height:800px;
    width: 800px;
    border: 2px solid blue;
    display: grid;
    grid-template-rows: repeat(20,1fr); 
    grid-template-columns: repeat(20,1fr);
    
}

.head{
    background-color: green;
}

.snake{
    background-color: green;
}


.food{
    background-color: red;
}